<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Atividade avaliativa 1</title>
        <script src="https://unpkg.com/vue"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div class="nav-bar"></div>

        <div id="app">
            <div class="product">
                <div class="product-image">
                    <img v-bind:src="image" id="image">
                    <br>
                    <img v-for="image in images" 
                        v-bind:src="imagePreview(image)" 
                        @click="updateImage(image)" 
                        class="imagePreview cursor-pointer">
                    <br>
                    <div v-for="(color, index) in colors" 
                        :key="color.id"
                        class="color-box cursor-pointer"
                        :style="{ backgroundColor: color.cssColor }"
                        @click="updateColor(index)">
                    </div>
                </div>

                <div class="product-info">
                    <h1>{{ title }}</h1>
                    <h4>Descrição:</h4>
                    <p class="small-font">{{ description }}</p>
                    <h4>Características:</h4>
                    <p v-for="feature in features" class="small-font">{{ feature }}</p>
                    <h4>Especificações:</h4>
                    <p v-for="specification in specifications" class="small-font">{{ specification }}</p>
                    <h4 v-if="inStock" class="in-stock">Em estoque</h4>
                    <h4 v-else class="no-stock">Sem estoque</h4>                    

                    <br>
                    <label>Quantidade:</label>
                    <input v-model="quantity" type="number" id="quantity" placeholder="Insira a quantidade"
                        :disabled="!inStock">
                    <br>

                    <button v-on:click="addToCart" 
                        :disabled="quantity > inStock"
                        :class="{ disabledButton: quantity > inStock }">
                        Adicionar ao carrinho
                    </button>
                    
                    <div class="cart">
                        <p>Carrinho({{cart}})</p>
                    </div>
                </div>    
                
                <a href="./assets/trabalho1.pdf">Sites semelhantes</a>
            </div>
        </div>

        <script src="main.js"></script>
    </body>
</html>