body {
    font-family: tahoma;
    color:#282828;
    margin: 0px;
    background-color: #eee;
}

.nav-bar {
    background: linear-gradient(-90deg, #0c0, #03c);
    height: 60px;
    margin-bottom: 15px;
}

.product {
    display: flex;
    flex-flow: wrap;
    padding: 1rem;
}

#image {
    border: 1px solid #d8d8d8;
    width: 70%;
    margin: 40px;
    box-shadow: 0px .5px 1px #d8d8d8;
}

.product-image {
    width: 80%;
}

.product-image,
.product-info {
    margin-top: 10px;
    width: 50%;
}

.color-box {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    border: 1px solid #000;
    display: inline-block;
    margin-right: 5px;
}

.cart {
    margin-right: 25px;
    float: right;
    border: 1px solid #d8d8d8;
    padding: 5px 20px;
}

button {
    margin-top: 30px;
    border: none;
    background-color: #1E95EA;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 14px;
} 

.disabledButton {
    background-color: #d8d8d8;
}

.review-form {
    width: 400px;
    padding: 20px;
    margin: 40px;
    border: 1px solid #d8d8d8;
}

input {
    width: 100%;  
    height: 25px;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 60px;
}

.tab {
    margin-left: 20px;
}

.activeTab {
    color: #16C0B0;
    text-decoration: underline;
}

#quantity {
    width: 10%;
}

.small-font {
    font-size: 12px;
} 

.in-stock {
    padding: 5px;
    background-color: #0f0;
    border: 1px dashed #666;
    width: 25%;
    text-align: center;
}

.no-stock {
    padding: 5px;
    background-color: #f00;
    border: 1px dashed #666;
    width: 25%;
    text-align: center;
}

.imagePreview {
    border: 1px solid #d8d8d8;
    width: 10%;
    margin: 5px;
    box-shadow: 0px .5px 1px #d8d8d8;
}

.cursor-pointer {
    cursor: pointer;
}